<div class="panel-pane pane-block pane-views-featured-ads-block">
  
        <h2 class="pane-title">Check out our Premium Featured Ads</h2>
    
  
  <div class="pane-content">
    <div class="view view-featured-ads view-id-featured_ads view-display-id-block view-dom-id-a80c00c1b61cf8acda0035973dc1e068">
        
  
  
      <div class="view-content">
      
<div class="row"> 
<div class="skin-default"> 
 
<div class="views-slideshow-controls-top clearfix"> 
<div id="views_slideshow_controls_text_featured_ads-block" class="views-slideshow-controls-text views_slideshow_controls_text">
  <span id="views_slideshow_controls_text_previous_featured_ads-block" class="views-slideshow-controls-text-previous views_slideshow_controls_text_previous views-slideshow-controls-text-previous-processed"><a href="#">Previous</a></span>
  <span id="views_slideshow_controls_text_pause_featured_ads-block" class="views-slideshow-controls-text-pause views_slideshow_controls_text_pause  views-slideshow-controls-text-pause-processed views-slideshow-controls-text-status-play"><a href="#">Pause</a></span>
  <span id="views_slideshow_controls_text_next_featured_ads-block" class="views-slideshow-controls-text-next views_slideshow_controls_text_next views-slideshow-controls-text-next-processed"><a href="#">Next</a></span>
</div>
 
</div> 
 
<div id="views_slideshow_cycle_main_featured_ads-block" class="views_slideshow_cycle_main views_slideshow_main viewsSlideshowCycle-processed" style="height: 277px;"><div id="views_slideshow_cycle_teaser_section_featured_ads-block" class="views-slideshow-cycle-main-frame views_slideshow_cycle_teaser_section" style="width: 1150px; position: relative; height: 277px; overflow: hidden;">
  <div id="views_slideshow_cycle_div_featured_ads-block_0" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-1 views-row-odd" style="height: 276px; width: 1150px; position: absolute; top: 0px; left: -1150px; display: none; z-index: 2; opacity: 1;">
  <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-odd views-row-first col-md-3 col-sm-4 col-xs-6">
  <div id="node-59" class="node node-classified-ad-ptp node-promoted node-teaser clearfix" about="/content/website-needs-be-created" typeof="sioc:Item foaf:Document">

    
    <span property="dc:title" content="Website needs to be created" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>  <div class="fcimg">
    <div class="field field-name-field-image-ca field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><div id="field-slideshow-1-wrapper" class="field-slideshow-wrapper">

  
  
  
  <div class="field-slideshow field-slideshow-1 effect-scrollUp timeout-1000 with-pager with-controls field-slideshow-processed" style="width: 460px; height: 180px; padding-right: 0px; position: relative; overflow: hidden;">
          <div class="field-slideshow-slide field-slideshow-slide-1 even first" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 2; opacity: 1;">
        <img class="field-slideshow-image field-slideshow-image-1" typeof="foaf:Image" src="http://wiicolab.com/sites/default/files/styles/classified_teaser/public/blueeye_0.jpg?itok=YCca13h3" width="460" height="300" alt="">              </div>
          <div class="field-slideshow-slide field-slideshow-slide-2 odd last" style="display: none; position: absolute; top: 0px; left: 0px; z-index: 1;">
        <img class="field-slideshow-image field-slideshow-image-2" typeof="foaf:Image" src="http://wiicolab.com/sites/default/files/styles/classified_teaser/public/drupal1.png?itok=dTg4e2AD" width="460" height="300" alt="">              </div>
      </div>

  
  
</div>
</div></div></div>    <div class="termimg"><div class="termimgico teaser_icon" style="color:#ffffff;background-color:#f1c40f;"></div></div>  </div>
  <div class="fcinfo">
    <h2><a href="/content/website-needs-be-created">Website needs to be created</a></h2>
    <div class="field-name-field-price"><div class="field-item">$875</div></div>    <div class="content">
      <div class="location-locations-display">
    <h3 class="location-locations-header">Location</h3>

    <div class="location-locations-wrapper">
              <div class="location vcard" itemscope="" itemtype="http://schema.org/PostalAddress">
  <div class="adr">
                              <div class="country-name" itemprop="addressCountry">United States</div>
                                            <span class="geo"><abbr class="latitude" title="39.988218">39° 59' 17.5848" N</abbr>, <abbr class="longitude" title="14.555420">14° 33' 19.512" E</abbr></span>
            </div>
      <div class="map-link">
      <div class="location map-link">See map: <a href="http://maps.google.com?q=39.988218+14.555420+%28%2C+%2C+%2C+%2C+us%29">Google Maps</a></div>    </div>
  </div>
          </div>
  </div>
<div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>Blue Eye Marketing is in need of a web developer to create our site. Please only reply if you have experence creating websites,and have ones that we can view.</p>
</div></div></div><div class="field field-name-field-currency field-type-list-text field-label-hidden"><div class="field-items"><div class="field-item even">USD</div></div></div><div class="field field-name-field-price field-type-number-decimal field-label-hidden"><div class="field-items"><div class="field-item even">875.00</div></div></div>    </div>
  </div>
    
</div>
  
</div>
<div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-odd views-row-first col-md-3 col-sm-4 col-xs-6">
  <div id="node-21" class="node node-classified node-promoted node-teaser clearfix" about="/ad/blue-eye-marketing" typeof="sioc:Item foaf:Document" style="height: 276px;">

    
    <span property="dc:title" content="Blue Eye Marketing" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>  <div class="fcimg">
    <div class="field field-name-field-image-ca field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><div id="field-slideshow-2-wrapper" class="field-slideshow-wrapper">

  
  
  
  <div class="field-slideshow field-slideshow-2 effect-scrollUp timeout-1000 with-pager with-controls field-slideshow-processed" style="width: 460px; height: 181px; padding-right: 0px; position: relative; overflow: hidden;">
          <div class="field-slideshow-slide field-slideshow-slide-1 even first" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 2; opacity: 1;">
        <a href="/ad/blue-eye-marketing"><img class="field-slideshow-image field-slideshow-image-1" typeof="foaf:Image" src="http://wiicolab.com/sites/default/files/styles/classified_teaser/public/blueeye.jpg?itok=rNnNitwV" width="460" height="300" alt=""></a>              </div>
          <div class="field-slideshow-slide field-slideshow-slide-2 odd last" style="display: none; position: absolute; top: 0px; left: 0px; z-index: 1;">
        <a href="/ad/blue-eye-marketing"><img class="field-slideshow-image field-slideshow-image-2" typeof="foaf:Image" src="http://wiicolab.com/sites/default/files/styles/classified_teaser/public/marketing.jpg?itok=LGTgJhPb" width="460" height="300" alt=""></a>              </div>
      </div>

  
  
</div>
</div></div></div>    <div class="termimg"><div class="termimgico teaser_icon" style="color:#ffffff;background-color:#9c59b6;"></div></div>  </div>
  <div class="fcinfo">
    <h2><a href="/ad/blue-eye-marketing">Blue Eye Marketing</a></h2>
    <div class="field-name-field-price"><div class="field-item">$275</div></div>    <div class="content">
    <div class="field field-name-field-price field-type-number-decimal field-label-hidden"><div class="field-items"><div class="field-item even">275.00</div></div></div><div class="field field-name-field-currency field-type-list-text field-label-hidden"><div class="field-items"><div class="field-item even">USD</div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>Blue Eye provides real content to websites. What's real content? Content that's created with personality that generates traffic, and lets the user know that an actual person made the site. We are a team of goofballs that love to have fun at work. If you're skilled at reaching new information, love to learn, and have fun, reach out to us.&nbsp;&nbsp;&nbsp;Answer the below questions when you respond to the ad.&nbsp;&nbsp;1) You least favorite vegetable&nbsp;2) You favorite holiday&nbsp;3) Your favorite tv show&nbsp;&nbsp;Please excuess any typo's I was playing Titian Fall while I was posting this ad.&nbsp;</p>
</div></div></div>    </div>
  </div>
    
</div>
  




</div>
<div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-odd views-row-first col-md-3 col-sm-4 col-xs-6">
  <div id="node-28" class="node node-classified node-promoted node-teaser clearfix" about="/ad/apple-application" typeof="sioc:Item foaf:Document" style="height: 276px;">

    
    <span property="dc:title" content="Apple Application" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>  <div class="fcimg">
    <div class="field field-name-field-image-ca field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><div id="field-slideshow-3-wrapper" class="field-slideshow-wrapper">

  
  
  
  <div class="field-slideshow field-slideshow-3 effect-scrollUp timeout-1000 with-pager with-controls field-slideshow-processed" style="width: 460px; height: 181px; padding-right: 0px; position: relative; overflow: hidden;">
          <div class="field-slideshow-slide field-slideshow-slide-1 even first" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 2; opacity: 1;">
        <a href="/ad/apple-application"><img class="field-slideshow-image field-slideshow-image-1" typeof="foaf:Image" src="http://wiicolab.com/sites/default/files/styles/classified_teaser/public/hd_apple_logo_5.jpg?itok=rtsjd3zH" width="460" height="300" alt=""></a>              </div>
          <div class="field-slideshow-slide field-slideshow-slide-2 odd last" style="display: none; position: absolute; top: 0px; left: 0px; z-index: 1;">
        <a href="/ad/apple-application"><img class="field-slideshow-image field-slideshow-image-2" typeof="foaf:Image" src="http://wiicolab.com/sites/default/files/styles/classified_teaser/public/think-different_9.jpg?itok=KZcjam8T" width="460" height="300" alt=""></a>              </div>
      </div>

  
  
</div>
</div></div></div>    <div class="termimg"><div class="termimgico teaser_icon" style="color:#ffffff;background-color:#16a084;"></div></div>  </div>
  <div class="fcinfo">
    <h2><a href="/ad/apple-application">Apple Application</a></h2>
    <div class="field-name-field-price"><div class="field-item">$100</div></div>    <div class="content">
    <div class="field field-name-field-price field-type-number-decimal field-label-hidden"><div class="field-items"><div class="field-item even">100.00</div></div></div><div class="field field-name-field-currency field-type-list-text field-label-hidden"><div class="field-items"><div class="field-item even">USD</div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>Apple developer needed to create a strategy game.</p>
</div></div></div>    </div>
  </div>
    
</div>
  




</div>
<div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-odd views-row-first col-md-3 col-sm-4 col-xs-6">
  <div id="node-36" class="node node-classified-noex node-promoted node-teaser clearfix" about="/ad/android-game-app" typeof="sioc:Item foaf:Document" style="height: 276px;">

    
    <span property="dc:title" content="Android Game App" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>  <div class="fcimg">
    <div class="field field-name-field-image-ca field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><div id="field-slideshow-4-wrapper" class="field-slideshow-wrapper">

  
  
  
  <div class="field-slideshow field-slideshow-4 effect-scrollUp timeout-1000 with-pager with-controls field-slideshow-processed" style="width: 460px; height: 181px; padding-right: 0px; position: relative; overflow: hidden;">
          <div class="field-slideshow-slide field-slideshow-slide-1 even first" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 2; opacity: 1;">
        <a href="/ad/android-game-app"><img class="field-slideshow-image field-slideshow-image-1" typeof="foaf:Image" src="http://wiicolab.com/sites/default/files/styles/classified_teaser/public/apple-vs-android-full-hd-wallpaper-.jpg?itok=gJzf5Toa" width="460" height="300" alt=""></a>              </div>
          <div class="field-slideshow-slide field-slideshow-slide-2 odd last" style="display: none; position: absolute; top: 0px; left: 0px; z-index: 1;">
        <a href="/ad/android-game-app"><img class="field-slideshow-image field-slideshow-image-2" typeof="foaf:Image" src="http://wiicolab.com/sites/default/files/styles/classified_teaser/public/android-vs-iphone.jpg?itok=QmHr-ga6" width="460" height="300" alt=""></a>              </div>
      </div>

  
  
</div>
</div></div></div>    <div class="termimg"><div class="termimgico teaser_icon" style="color:#ffffff;background-color:#16a084;"></div></div>  </div>
  <div class="fcinfo">
    <h2><a href="/ad/android-game-app">Android Game App</a></h2>
    <div class="field-name-field-price"><div class="field-item">$500</div></div>    <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>If you have a passion for creating video games, and expierece with creating them for Android, we have an oppurtunity for you. We are a Startup company that are looking for someone to create apps for our clients. We are willing to negotiate with the price per app.</p>
</div></div></div><div class="field field-name-field-price field-type-number-decimal field-label-hidden"><div class="field-items"><div class="field-item even">500.00</div></div></div><div class="field field-name-field-currency field-type-list-text field-label-hidden"><div class="field-items"><div class="field-item even">USD</div></div></div>    </div>
  </div>
    
</div>
  
</div>
</div>
<div id="views_slideshow_cycle_div_featured_ads-block_1" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-2 views_slideshow_cycle_hidden views-row-even" style="height: 276px; width: 1150px; position: absolute; top: 0px; left: 0px; display: block; z-index: 3; opacity: 1;">
  <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-1 views-row-even col-md-3 col-sm-4 col-xs-6">
  <div id="node-27" class="node node-classified node-promoted node-teaser clearfix" about="/ad/dj" typeof="sioc:Item foaf:Document" style="height: 276px;">

    
    <span property="dc:title" content="DJ" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>  <div class="fcimg">
    <div class="field field-name-field-image-ca field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><div id="field-slideshow-5-wrapper" class="field-slideshow-wrapper">

  
  
  
  <div class="field-slideshow field-slideshow-5 effect-scrollUp timeout-1000 with-pager with-controls field-slideshow-processed" style="width: 460px; height: 181px; position: relative; overflow: hidden;">
          <div class="field-slideshow-slide field-slideshow-slide-1 even first" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 2; opacity: 1;">
        <a href="/ad/dj"><img class="field-slideshow-image field-slideshow-image-1" typeof="foaf:Image" src="http://wiicolab.com/sites/default/files/styles/classified_teaser/public/fotolia_56145097_xs.jpg?itok=jbzQF-Es" width="460" height="300" alt=""></a>              </div>
          <div class="field-slideshow-slide field-slideshow-slide-2 odd last" style="display: none; position: absolute; top: 0px; left: 0px; z-index: 1;">
        <a href="/ad/dj"><img class="field-slideshow-image field-slideshow-image-2" typeof="foaf:Image" src="http://wiicolab.com/sites/default/files/styles/classified_teaser/public/21280335_s.jpg?itok=Rlq3-mLk" width="460" height="300" alt=""></a>              </div>
      </div>

  
  
</div>
</div></div></div>    <div class="termimg"><div class="termimgico teaser_icon" style="color:#ffffff;background-color:#2ecc70;"></div></div>  </div>
  <div class="fcinfo">
    <h2><a href="/ad/dj">DJ</a></h2>
    <div class="field-name-field-price"><div class="field-item">$500</div></div>    <div class="content">
    <div class="field field-name-field-price field-type-number-decimal field-label-hidden"><div class="field-items"><div class="field-item even">500.00</div></div></div><div class="field field-name-field-currency field-type-list-text field-label-hidden"><div class="field-items"><div class="field-item even">USD</div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>In need of an experienced DJ to play reggae music. You will be required to provide a cd for an example of your skills.</p>
</div></div></div>    </div>
  </div>
    
</div>
  




</div>
<div class="views-slideshow-cycle-main-frame-row-item views-row views-row-1 views-row-even col-md-3 col-sm-4 col-xs-6">
  <div id="node-34" class="node node-classified-noex node-promoted node-teaser clearfix" about="/ad/seo" typeof="sioc:Item foaf:Document" style="height: 276px;">

    
    <span property="dc:title" content="SEO" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>  <div class="fcimg">
    <div class="field field-name-field-image-ca field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><div id="field-slideshow-6-wrapper" class="field-slideshow-wrapper">

  
  
  
  <div class="field-slideshow field-slideshow-6 effect-scrollUp timeout-1000 with-pager with-controls field-slideshow-processed" style="width: 460px; height: 181px; position: relative; overflow: hidden;">
          <div class="field-slideshow-slide field-slideshow-slide-1 even first" style="position: absolute; top: -181px; left: 0px; display: none; z-index: 2; opacity: 1;">
        <a href="/ad/seo"><img class="field-slideshow-image field-slideshow-image-1" typeof="foaf:Image" src="http://wiicolab.com/sites/default/files/styles/classified_teaser/public/clicklogo.jpg?itok=yzzgc4uV" width="460" height="300" alt=""></a>              </div>
          <div class="field-slideshow-slide field-slideshow-slide-2 odd last" style="display: block; position: absolute; top: 0px; left: 0px; z-index: 3; opacity: 1; width: 278px; height: 180px;">
        <a href="/ad/seo"><img class="field-slideshow-image field-slideshow-image-2" typeof="foaf:Image" src="http://wiicolab.com/sites/default/files/styles/classified_teaser/public/seo.jpg?itok=VccAkdjI" width="460" height="300" alt=""></a>              </div>
      </div>

  
  
</div>
</div></div></div>    <div class="termimg"><div class="termimgico teaser_icon" style="color:#ffffff;background-color:#9c59b6;"></div></div>  </div>
  <div class="fcinfo">
    <h2><a href="/ad/seo">SEO</a></h2>
    <div class="field-name-field-price"><div class="field-item">$333</div></div>    <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>We are a group of people that handle Social Media marketing and SEO for multiple clients. Since our number of clients are growing, we are looking for some help in providing service to our growing clients. You will be responsible&nbsp;for the below.&nbsp;
</p></div></div></div><div class="field field-name-field-price field-type-number-decimal field-label-hidden"><div class="field-items"><div class="field-item even">333.00</div></div></div><div class="field field-name-field-currency field-type-list-text field-label-hidden"><div class="field-items"><div class="field-item even">USD</div></div></div>    </div>
  </div>
    
</div>
  
</div>
<div class="views-slideshow-cycle-main-frame-row-item views-row views-row-1 views-row-even col-md-3 col-sm-4 col-xs-6">
  <div id="node-25" class="node node-classified node-promoted node-teaser clearfix" about="/ad/newbie-animator" typeof="sioc:Item foaf:Document" style="height: 276px;">

    
    <span property="dc:title" content="Newbie Animator " class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>  <div class="fcimg">
    <div class="field field-name-field-image-ca field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><div id="field-slideshow-7-wrapper" class="field-slideshow-wrapper">

  
  
  
  <div class="field-slideshow field-slideshow-7 effect-scrollUp timeout-1000 with-pager with-controls field-slideshow-processed" style="width: 460px; height: 181px; position: relative; overflow: hidden;">
          <div class="field-slideshow-slide field-slideshow-slide-1 even first" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 2; opacity: 1;">
        <a href="/ad/newbie-animator"><img class="field-slideshow-image field-slideshow-image-1" typeof="foaf:Image" src="http://wiicolab.com/sites/default/files/styles/classified_teaser/public/ghostdog.png?itok=F2pURASj" width="460" height="300" alt=""></a>              </div>
          <div class="field-slideshow-slide field-slideshow-slide-2 odd last" style="display: none; position: absolute; top: 0px; left: 0px; z-index: 1;">
        <a href="/ad/newbie-animator"><img class="field-slideshow-image field-slideshow-image-2" typeof="foaf:Image" src="http://wiicolab.com/sites/default/files/styles/classified_teaser/public/animation.png?itok=g8jFHY9d" width="460" height="300" alt=""></a>              </div>
      </div>

  
  
</div>
</div></div></div>    <div class="termimg"><div class="termimgico teaser_icon" style="color:#ffffff;background-color:#e74d3c;"></div></div>  </div>
  <div class="fcinfo">
    <h2><a href="/ad/newbie-animator">Newbie Animator </a></h2>
    <div class="field-name-field-price"><div class="field-item">$50 000</div></div>    <div class="content">
    <div class="field field-name-field-price field-type-number-decimal field-label-hidden"><div class="field-items"><div class="field-item even">50 000.00</div></div></div><div class="field field-name-field-currency field-type-list-text field-label-hidden"><div class="field-items"><div class="field-item even">USD</div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>I am a Full Sail graduate, and I am interested in working on an animation with a small team. If you will like to learn more about me please respond to this posting and I will be more than happy to provide you with a link to an example of my work.</p>
</div></div></div>    </div>
  </div>
    
</div>
  




</div>
<div class="views-slideshow-cycle-main-frame-row-item views-row views-row-1 views-row-even col-md-3 col-sm-4 col-xs-6">
  <div id="node-22" class="node node-classified node-promoted node-teaser clearfix" about="/ad/marketing-strategist" typeof="sioc:Item foaf:Document" style="height: 276px;">

    
    <span property="dc:title" content="Marketing Strategist" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="1" datatype="xsd:integer" class="rdf-meta element-hidden"></span>  <div class="fcimg">
    <div class="field field-name-field-image-ca field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><div id="field-slideshow-8-wrapper" class="field-slideshow-wrapper">

  
  
  
  <div class="field-slideshow field-slideshow-8 effect-scrollUp timeout-1000 with-pager with-controls field-slideshow-processed" style="width: 460px; height: 181px; position: relative; overflow: hidden;">
          <div class="field-slideshow-slide field-slideshow-slide-1 even first" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 2; opacity: 1;">
        <a href="/ad/marketing-strategist"><img class="field-slideshow-image field-slideshow-image-1" typeof="foaf:Image" src="http://wiicolab.com/sites/default/files/styles/classified_teaser/public/inklogo_0.png?itok=kYN_zdBQ" width="460" height="300" alt=""></a>              </div>
          <div class="field-slideshow-slide field-slideshow-slide-2 odd last" style="display: none; position: absolute; top: 0px; left: 0px; z-index: 1;">
        <a href="/ad/marketing-strategist"><img class="field-slideshow-image field-slideshow-image-2" typeof="foaf:Image" src="http://wiicolab.com/sites/default/files/styles/classified_teaser/public/fotolia_40129935_xs_0.jpg?itok=qevGrmzM" width="460" height="300" alt=""></a>              </div>
      </div>

  
  
</div>
</div></div></div>    <div class="termimg"><div class="termimgico teaser_icon" style="color:#ffffff;background-color:#f1c40f;"></div></div>  </div>
  <div class="fcinfo">
    <h2><a href="/ad/marketing-strategist">Marketing Strategist</a></h2>
    <div class="field-name-field-price"><div class="field-item">$250</div></div>    <div class="content">
    <div class="field field-name-field-price field-type-number-decimal field-label-hidden"><div class="field-items"><div class="field-item even">250.00</div></div></div><div class="field field-name-field-currency field-type-list-text field-label-hidden"><div class="field-items"><div class="field-item even">USD</div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>We are in need of some Social Media marketing agents. You will be&nbsp;responsible for managing Social Media marketing campaigns and day-to-dayactivities which includes the following including:&nbsp;
</p><ul><li>Create, curate, and manage all published content (images, video and written).</li>
<li>Develop and expand community and/or blogger outreach efforts.</li>
<li>Oversee design (ie: Facebook Timeline cover, profile pic, thumbnails, ads, landing pages, Twitter profile, and blog).</li>
<li>Design, create and manage promotions and Social ad campaigns.</li>
<li>Develop a strategy and implement a proactive process for capturing customer</li>
<li>online reviews. Monitor online ratings and respond accordingly.</li>
<li>Monitor effective benchmarks (best practices) for measuring the impact of</li>
<li>Social Media campaigns. Analyze, review, and report on effectiveness of</li>
<li>campaigns in an effort to maximize results.</li>
</ul><p>&nbsp;You will have to demonstrate creativity and documented immersion in Social Media. (Give links to profiles as examples).Displays in-depth knowledge and understanding of Social Media platforms, their respective participants (Facebook, Twitter, Yelp, Google+Local, YouTube, Instagram, Pinterest etc.) and how each platform can be deployed in different scenarios. As well as maintains excellent writing and language skills.</p>
</div></div></div>    </div>
  </div>
    
</div>
  




</div>
</div>
</div>
</div> 
 
</div>
</div> 
<div class="clr"></div>
    </div>
  
  
  
  
  
  
</div>  </div>

  
  </div>